.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formControl {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  padding: 8px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 12px;
}

.submitButton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}
